<section>
  <div class="def-img">
    <img src="../../assets/photos/def-image.png" alt="">
  </div>

  <form action="login-functional" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="main-content">
    <img src="../../assets/photos/logo (2).png" alt="" class="logo">
    <div class="email">
      <p class="email-id">Email Id:</p>
      <div class="email-input">
        <input type="text" placeholder="info@provistechnologies.com">
        <button class="email-btn"><img src="../../assets/photos/email.png" alt=""></button>
      </div>
    </div>

    <div class="pass">
      <p class="password">Password:</p>
      <div class="pass-input">
        <input type="text" placeholder="Enter your password">
        <button class="lock-btn"><img src="../../assets/photos/pass.png" alt=""></button>
      </div>
    </div>

    <div class="forgot-pass"><a href="">Forgot Password?</a></div>
    <div class="buttons">
      <button class="btn-login" type="submit" >Login</button>

      <button class="btn-signup" (click)="toggleHtml2()">Sign Up</button>
    </div>
  </div>
</form>
</section>